body {
  background-color: #f5f0e6;
}

/* Contenedor principal */
.form-container {
  padding: 30px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor interno */
.form-wrapper {
  width: 95%;
  max-width: 95%;
}

/* Titulos */
.form-wrapper h2 {
  color: #001f3f;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Tarjetas */
.form-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  border: 2px solid #c9a227;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
}

/* Labels */
.form-label {
  font-weight: 600;
  color: #001f3f;
}

/* Inputs */
.form-control {
  border-radius: 8px !important;
  border: 2px solid #c9a227 !important;
}

.form-control:focus {
  border-color: #355e3b !important;
  box-shadow: 0 0 8px rgba(53, 94, 59, 0.4) !important;
}

/* Boton */
.btn-custom {
  width: 100%;
  background-color: #001f3f;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.btn-custom:hover {
  background-color: #355e3b;
  color: white;
}

/* Espaciado */
.mb-3 {
  margin-bottom: 18px !important;
}
